/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку

✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

Опора на светлую тему

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-normal);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 14px;
}

.header {
  display: grid;
  justify-items: center;
  font-family: var(--font-pressstart2p), fantasy;
  background-color: var(--background-color);
  width: clamp(376px, 50%, 700px);
  margin: 100px auto;
  min-height: 368px;
}

.bordered {
  border: var(--bordered);
}

.header__title {
  font-size: var(--font-size-header-title);
  margin-block-start: clamp(120px, 32%, 136px);
  text-decoration: none;
  outline: none;
}

.header__subtitle {
  font-size: var(--font-size-header-subtitle);
  text-transform: uppercase;
  line-height: 23px;
  margin-block-end: 5px;
}

.pointer {
  cursor: pointer;
}

.theme-menu {
  padding-block-end: 5px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
}

.theme-menu__item {
  padding-inline-start: 19px;
}

.theme-menu__button {
  text-transform: uppercase;
  line-height: 14px;
  position: relative;
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  outline: none;
}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
  transition: transform 0.3s;
}  

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::after {
  outline: none;
  transform: scale(0);
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
}

button:focus {
  outline: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--accent-color);
  position: absolute;
  left: -20px;
  pointer-events: none;
  animation: arrow-movement 0.5s infinite ease-in-out alternate;
}

section:not(:last-child) {
  margin-block-end: 50px;
}

main {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  max-width: 100%;
  width: clamp(376px, 50%, 700px);
}

.section__title {
  font-size: var(--font-size-main-text);
  padding: 4px 24px 5px 10px;
  line-height: 21.78px;
  min-height: 31px;
  background-color: var(--background-color);
  font-variation-settings: 'wght' var(--font-weight-heading);
}

.article__grid {
  display: grid;
  background-color: var(--background-color);
}

.main__text-box {
  display: grid;
  gap: 27px;
  padding-inline: 25px;
  margin-block: 25px;
}

.main__text {
  font-size: var(--font-size-main-text);
}

.image__wrapper {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  min-width: clamp(0px, 50%, 696px);;
  height: 700px;
}

.image__wrapper::before {
  content: "</html>";
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  right: 25px;
  top: 27px;
  font-family: var(--font-pressstart2p), fantasy;
  opacity: 0.5;
}

.filter__start {
  filter: saturate(60%) brightness(200%) contrast(110%);
}

.filter__hard {
  filter: sepia(50%) contrast(85%);
}

.filter__scared {
  filter: blur(2px) grayscale(1);
}

.filter__ideal {
  filter: brightness(50%) saturate(25%);
}

.filter__close-people {
  filter: saturate(150%);
}

.filter__strategy {
  filter: grayscale(1);
}

.filter__time {
  filter: blur(4px);
}

.filter__steps {
  filter: invert(100%);
}

@supports (-webkit-text-stroke: 0.5px var(--text-stroke-color)) {

  .stroke {
    -webkit-text-stroke: 0.5px var(--text-stroke-color);
  }
}

.stroke {
  text-shadow: 0.5px 0.5px var(--text-stroke-color),
    0.5px -0.5px var(--text-stroke-color), -0.5px 0.5px var(--text-stroke-color),
    -0.5px -0.5px var(--text-stroke-color);
}

.image {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.button__shadow {
  box-shadow: 0 0 0 var(--accent-color);
  transition: box-shadow 0.5s ease-in-out;
}

.button__shadow:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  font-family: var(--font-pressstart2p), fantasy;
  font-size: var(--font-size-button-text);
  color: var(--blend-color);
  mix-blend-mode: difference;
}

.like-button__wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-block-end: 25px;
  max-height: 38px;
  justify-content: end;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  min-width: 130px;
  position: relative;
}

.slider::before {
  content: "";
  transform: scaleX(0);
  width: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0;
  position: absolute;
  inset: 0;
}

.slider:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  transition: border 0.3s ease;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.like-icon {
  color: var(--accent-color);
  display: block;
  width: 100%;
}

footer {
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

.save__button {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 335px;
  min-height: 55px;
  padding-inline: 20px;
  margin-block-start: 50px;
  background-color: var(--background-color);
  position: relative;
  margin-block-end: 105px;
}

.floppy {
  height: 21px;
  width: 21px;
  color: var(--blend-color);
  mix-blend-mode: difference;
}

.dialog__insert-floppy {
  background-color: var(--background-color);
  max-width: clamp(341px, 50%, 356px);
  min-height: 191px;
  position: fixed;
  inset: 0;
  padding: 0;
}

.dialog__insert-floppy:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__insert-floppy::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.floppy-text__wrapper {
  display: flex;
  gap: 22px;
  padding: 28px;
  align-items: center;
}

.text__dialog {
  color: var(--accent-color);
  font-family: var(--font-pressstart2p), fantasy;
  font-size: var(--font-size-button-text);
  text-transform: uppercase;
  line-height: 21px;
}

.dialog__ok-button {
  text-transform: uppercase;
  min-width: 293px;
  min-height: 38px;
  margin: 3px 28px 28px;
  position: relative;
}

dialog .floppy {
  height: 39px;
  min-width: 39px;
}

@media (width <= 375px) {

  .header {
    max-width: 100%;
    min-height: 326px;
  }

  .header__title {
    max-height: 49px;
  }

  .header__subtitle {
    max-height: 14px;
    margin-block-end: 10px;
  }

  .save__button {
    min-height: 80px;
    min-width: 308px;
    padding-inline: 0;
    flex-direction: column;
    padding: 15px;
  }

  .save__button .floppy {
    width: 28px;
    height: 28px;
  }

  .floppy-text__wrapper {
    padding: 29px 39px;
  }

  .dialog__ok-button {
    margin: 0 40px 27px;
    min-width: 257px;
  }
}
