/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-inter: inter;
  --font-pressstart2p: "Press Start 2P";
  --font-weight-heading: 700;
  --font-weight-normal: 400;
  --background-color: #fff;
  --accent-color: #000;
  --blend-color: #fff;
  --background-image: 
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --font-size-header-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-header-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --font-size-main-text: 18px;
  --font-size-button-text: 14px;
  --bordered: 2px solid var(--accent-color);
  --text-stroke-color: rgb(255 255 255 / 50%);
  --heart-contour-color: #000;
  --heart-filler: #f00;
}
